
@{
    ViewBag.Title = "Sidebar";
}

<nav class="navbar-nav offset-1">
    <ul id="nav">
        <li class="navItem">@Html.ActionLink("Home", "Index", "SFN61579", new { @class = "navLink" })</li>
    </ul>
    
    
</nav>