
<div id="topHeader" class="row mb-4">
    <div class="col-6 text-start">
        <div>
            <img class="imgwsilogo" src="~/Content/images/WSIInfopathFormsLogo.jpg" />
        </div>
    </div>
    <div id="addressBlock" class="col-6 text-end wsi-header-info">
        1600 E Century Ave, Ste 1<br />
        PO Box 5585<br />
        Bismarck ND 58506-5585<br />
        <b>Telephone 800-777-5033</b><br />
        Toll Free Fax 888-786-8695<br />
        TTY (hearing impaired) 800-366-6888<br />
        Fraud and Safety Hotline 800-243-3331<br />
        www.workforcesafety.com
    </div>
</div>

