

<div class="d-flex justify-content-center flex-column mx-4">
    <h4 class="d-flex justify-content-center mb-5">Admin Menu</h4>
    @Html.ActionLink("Home", "Index","MaintenanceRequest", new {@class = "d-flex justify-content-center btn btn-primary mb-5" })
    @Html.ActionLink("List","MasterList", "MaintenanceRequest", new { @class = "d-flex justify-content-center btn btn-primary mb-3" })
</div>

